
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    width: 1520px;
}

.siscamp{
    position: absolute;
    padding-top: 2px;
    padding-left: 20px;
}


.header {
    background-color: #0C2A43;
    color: white;
    padding: 20px;
    align-items: center;
    height: 25px;
    position: relative;
}

.logo{
    padding-left: 80px ;
}
.logo img{
    width: 25px;
}
.link-home,  img{
    width: 20px;
}

.profile{
    position: absolute;
    right: 0; 
    padding-right: 150px;
    top: 50%;
    margin-top: -13px; 
}

.profile span{
    margin-left: 1px; 
    margin-right: 1px;
}


.header .logo {
    font-size: 20px;
    font-weight: bold;
}
.arrow{
    background-color:#0C2A43;
    border: none;
}

.profile-img {
    width: 18px;
    
}

.navegation{
    background-color: #FFFFFF;
    height: 20px;
    color: white;
    padding: 20px;
    position: relative;
}
.menu{
    position: absolute;
    top: 0;
    padding-top: 15px;
    padding-left: 80px;
}

.link-field-classes, .link-help{
    padding-left: 60px;
}

.navegation a{
    text-decoration: none;   
}

.link-field-classes img{
    width: 15px;
}

.link-home img{
    width: 25px;
}

.link-help img{
    width: 21px;
}

.link-field-classes, .link-help{
    color: black;
}

.link-home {
    color: green;
}

.logo{
    float: left;
}

.logout {
    background-color: white; 
    color: #0C2A43;
    padding: 8px 18px; 
    border-color: #F1F1F1;
    border-radius: 5px; 
    font-size: 15px; 
    font-weight: bold; 
    margin-left: 750px;
    
}


.content {
    width: 100%;
    max-width: 600px; 
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
}

.count {
    font-size: 50px;
    color: #12b76a; 
    font-weight: bold;
    margin-bottom: 10px;
}

.aulas-campo {
    font-size: 24px;
    color: #333; 
    font-weight: 700; 
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.aula-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #333; 
}

.aula-item i {
    color: #666;
    margin-right: 10px;
}

.aula-descricao {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.ver-aulas-btn {
    background-color: #12b76a; 
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s;
}

.ver-aulas-btn:hover {
    background-color: #0a8a4a;
}

.detalhes {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.notificacao {
    width: 100%;
    max-width: 600px; 
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: right;

}
